@{
    ViewData["Title"] = "Contact";
}
<div class="topPadding"></div>
<h1>Captains Challenge of the day!</h1>
<div class="challengeVidWinner">
  <div class="vidCaption">
    <div class="challengeVideo">
      <p>Video Goes here</p>
    </div>
    <h3>Today's Challenge Is...</h3>
    <h3>Draw a cat!</h3>
  </div>
  <div class="lastWinner">
    <h3>Yesterday's Winner</h3>
    <h4>Take a photo of your teddy</h4>
    <img src="/images/teddy.jpg" alt="">
    <h3>Congratulations to:</h3>
    <h3>Captain Chocolate Possum</h3>
  </div>
</div>
<div class="buttonWrapper">
  <button type="button" class="challengeButton" name="takeAPhoto">Take a Photo</button>
  <button type="button" class="challengeButton" name="uploadAPhoto">Upload a Photo</button>
</div>

<h2>Today's amazing creations</h2>
<div class="uploadedGallery">
  <img class="galleryImage" src="/images/cat1.jpg" alt="">
  <img class="galleryImage" src="/images/cat2.jpg" alt="">
  <img class="galleryImage" src="/images/cat3.jpg" alt="">
  <img class="galleryImage" src="/images/cat4.jpg" alt="">
  <img class="galleryImage" src="/images/cat5.jfif" alt="">
  <img class="galleryImage" src="/images/cat6.jpg" alt="">
</div>
