@{
    ViewData["Title"] = "Live";
}
<div class="topPadding"></div>
<h1>Live Show</h1>
<div class="countdownTimer">
  <h3 id="live-countdown">Countdown to live show</h3>
</div>
<div class="vidWrapper">
  <div class="liveVideo"></div>
</div>
<div class="emojis">
  <div class="emojiContainer">
      <img class="squarepic clickable" id="cryLaugh" src="/images/cryLaugh.png" alt="">
      <img class="squarepic clickable" id="heartEyes" src="/images/heartEyes.png" alt="">
      <img class="squarepic clickable" id="poop" src="/images/poop.png" alt="">
      <img class="squarepic clickable" id="sad" src="/images/sad.png" alt="">
      <img class="squarepic clickable" id="shock" src="/images/shock.jpg" alt="">
    </div>
</div>
